<div id="resetPassword" >

    <div >
        <div>
            <img src="/resources/images/logo.png" class="logo">
        </div>
        <div class="btnWrapper">
            <div class="wiseTitle1 enterNewPass"> ENTER NEW PASSWORD </div>
            <input data-ng-keypress="keyPress($event)" class="wiseTitle1" data-ng-model="newPassword1" placeholder="*PASSWORD" type="password">
            <input data-ng-keypress="keyPress($event)" class="wiseTitle1" data-ng-model="newPassword2" placeholder="*CONFIRM PASSWORD" type="password" >
            <div class="loginBtn wiseTitle1" data-ng-click="submit()"> SUBMIT</div>
            <div class="backToLogin wiseTitle1"  data-ng-click="backToLogin()"> BACK TO LOGIN</div>
        </div>
    </div>
</div>


