<div id="forgotPassword" >

    <div >
        <div>
            <img src="/resources/images/logo.png" class="logo">
        </div>
        <div class="btnWrapper">
            <div class="wiseTitle1 resetPass"> PASSWORD RESET </div>
            <input data-ng-keypress="keyPress($event)" class="wiseTitle1" data-ng-model="username" placeholder="{{emailPlaceholder}}" data-ng-init="emailPlaceholder='*USER NAME'"data-ng-focus="emailPlaceholder=''" data-ng-blur="emailPlaceholder='*USER NAME'">
            <div class="loginBtn wiseTitle1" data-ng-click="passwordRest()"> SUBMIT</div>
            <div class="backToLogin wiseTitle1"  data-ng-click="backToLogin()"> BACK TO LOGIN</div>
        </div>
    </div>

</div>


