Compare.wiseSwitchDirective {
    display: inline-block;
}

.wiseSwitchDirective .wiseSwitch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  margin-left:3px;
}

.wiseSwitchDirective .wiseSwitch div {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333333;
  -webkit-transition: .4s;
  transition: .4s;
}

.wiseSwitchDirective .wiseSwitch div:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.wiseSwitchDirective .wiseSwitch .checked:before{
  background-color: #333333;
}

.wiseSwitchDirective .wiseSwitch input:checked + div {
  background-color: white;
}

/*.wiseSwitchDirective .wiseSwitch input:focus + div {
  box-shadow: 0 0 1px #2196F3;
}*/

.wiseSwitchDirective .wiseSwitch input:checked + div:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

.wiseSwitchDirective .wiseSwitch div {
  border-radius: 34px;
}


.wiseSwitchDirective .wiseSwitch div:before {
  border-radius: 50%;
}

.wiseSwitchDirective .wiseSwitchDiv {
    font-size: 12px;
    font-family : "proxima-nova";
    font-weight : 400;
}


.wiseSwitchDirective .kpiLoaderWrapper {
    margin-left:20px;
    display:inline;
    vertical-align: -webkit-baseline-middle;
}

.wiseSwitchDirective .wiseLoader3 {
    display : inline-block
}