<div class="wiseView" id="saveReports">
    <div class="firstSection">
        <div class=wiseTitle1>
            REPORTS / SAVED REPORTS
        </div>
    </div>

    <div class="secondSection">
       <wise-table 
            show-full-switch=false
            table-style="style2"
            table-data="tableData"
            show-loader="tableShowLoader"
            update-table="updateTable"
            default-row-num-index=1
            row-clickable=false>
        </wise-table>
    </div>

</div>